body {
    font-family: "Inter", sans-serif;
}

.btn-bg {
    background: linear-gradient(to right, #F7E93F 0%, #F9797A 51%, #FB09B4 51%, #9100F8 100%);
    padding: 5px 15px;
    border-radius: 20px;
}

.bg-image {
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-microphone {
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
    from {
        background-image: url(/assets/hero-circle.png);
    }

    to {
        background-image: url(/assets/realistic-golden-frame.png);
    }
}

.footer-bg {
    background-image: url(/assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}